<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eastar.recyclerview">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EastarRecyclerview">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".ArrayAdapterDemo" />-->
<!--        <activity android:name=".BindingDataArrayAdapterDemo" />-->
<!--        <activity android:name=".BindingViewArrayAdapterDemo" />-->
<!--        <activity android:name=".DiffArrayAdapterDemo" />-->
<!--        <activity android:name=".DiffBindingDataArrayAdapterDemo" />-->
<!--        <activity android:name=".DiffBindingViewArrayAdapterDemo" />-->
    </application>

</manifest>